<h1>RC Car v2.0</h1>

<div style="width: 300px; height: 100px; background: grey;" 
(panStart)="onPanStartForward($event)" 
(panMove)="onPanMoveForward($event)"
    (panEnd)="onPanStopForward($event)">
</div>

<div style="width: 300px; height: 100px; background: grey;" 
(panStart)="onPanStartBackwards($event)" (panMove)="onPanMoveBackwards($event)"
    (panEnd)="onPanStopBackwards($event)">
</div>

<div class="control-group">
    <button (tap)="switchLights()" class="btn btn-primary btn-block">
            switch lights
        </button>
</div>

<div>
    <img src="{{videourl}}" class="img-responsive" />
</div>

<div>
    count: {{count}} error: {{isError}} {{error}}
</div>

<div>
    local status: {{local_status}}<br /> remote status: {{remote_status}}
</div>